<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet" integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Customer Support Chat: Staff only</title>
  </head>
  <body class="bg-light">
    <section style="background-color: #eee;">
      <div class="container py-2">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card" id="chat2">
              <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h5 class="mb-0">Login</h5>
              </div>
              <div class="card-body d-none" id="error">
                <div class="text-justify mt-4">
                  <p class="lead alert alert-danger">Some information was incorrect. Please check and try again</p>
                  <a href="/login" class="btn btn-warning">Try Again</a>
                </div>
              </div>
              <div class="card-body d-none" id="verifyPending">
                <div class="text-justify mt-4">
                  <p class="lead alert alert-warning">Your account has not been verified yet. Please contact the admin.</p>
                </div>
              </div>
              <div class="card-body d-none" id="notFound">
                <div class="text-justify mt-4">
                  <p class="lead alert alert-danger">There was no account created with this email ID.</p>
                  <a href="/login" class="btn btn-warning">Try Again with another email ID</a>
                </div>
              </div>
              <div class="card-body d-none" id="waiting">
                <div class="text-center mt-4">
                  <p id="welcomeMessage"></p>
                  <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <p>Fetching your account details... Please wait</p>
                </div>
              </div>
              <div class="card-body" id="loginScreen">
                <form class="needs-validation" id="staffLogin" name="staffLogin" action="javascript:void(0);">
                  <div class="mb-3">
                    <label for="accEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="accEmail" name="accEmail" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Please enter your registered email ID</div>
                  </div>
                  <div class="mb-3">
                    <label for="accPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="accPassword" name="accPassword" required>
                  </div>
                  <div class="mb-3">
                    <label for="accType" class="form-label">Account Type</label>
                    <select class="form-select" id="accType" name="accType" aria-label="Default select example" required>
                      <option disabled>- Choose -</option>
                      <option value="agent">Agent</option>
                      <option value="admin">Admin</option>
                    </select>
                  </div>
                  <div class="mb-3 d-none">
                    <label for="adminUserName" class="form-label">Admin Name</label>
                    <input type="text" class="form-control" id="adminUserName" name="adminUserName" aria-describedby="userNameHelp">
                    <div id="userNameHelp" class="form-text">Please enter your Admin User Name for verification</div>
                  </div>
                  <div class="mb-3">
                    <button class="w-100 mt-2 btn btn-lg btn-primary" type="submit">Log in</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-muted justify-content-start p-3">
                <p>Are you a new agent? Please register below</p>
                <a href="/agent-register" class="btn btn-warning">Register</a>
              </div>
            </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%- include('../controls/account', {url: server_path}); %>
  </body>
</html>